<style>

    .grid-container {
        display: grid;
        grid-template-columns: 1000px 1000px 1000px;
    }

    .grid-item {
        padding: 0px;
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
        text-align: center;
        height: 500px;
    }
    .grid-nine {
        padding-top: 50px;
        padding-right: 30px;
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
        height: 500px;
        color:antiquewhite;
    }

    body {
        margin: 0px;
        background-image: url("img/DC-website-main.svg");
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 3000px, 1500px;
    }

    @media only screen and (max-width: 900px) {
    }

</style>

<div class="grid-container">
    <div class="grid-item">{{> one}}</div>
    <div class="grid-item">{{> two}}</div>
    <div class="grid-item">{{> three}}</div>
    <div class="grid-item">{{> four}}</div>
    <div class="grid-item">{{> five}}</div>
    <div class="grid-item">{{> six}}</div>
    <div class="grid-item">{{> seven}}</div>
    <div class="grid-item">{{> eight}}</div>
    <div class="grid-nine">{{> nine}}</div>

</div>
