<style>

    .grid-container {
        display: grid;
        grid-template-columns: 1000px 1000px 1000px;
        {{!-- padding: 1px; --}}
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.8);
        padding-top: 50px;
        padding-right: 30px;
        font-family: "Courier New", Courier, monospace;
        font-size: 15px;
        text-align: center;
        height: 500px;
    }

    body {
        margin: 0px;
        background-image: url("img/map.svg");
        background-position: left top;
        background-repeat: no-repeat;
        background-size: 3000px, 1500px;
    }

    @media only screen and (max-width: 900px) {
    }

</style>

<div class="grid-container">
    <div class="grid-item">{{> one}}</div>
    <div class="grid-item">{{> two}}</div>
    <div class="grid-item">{{> three}}</div>
    <div class="grid-item">{{> four}}</div>
    <div class="grid-item">{{> five}}</div>
    <div class="grid-item">{{> six}}</div>
    <div class="grid-item">{{> seven}}</div>
    <div class="grid-item">{{> eight}}</div>
    <div class="grid-item">{{> nine}}</div>

</div>
